@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    font-family: "Noto Sans Thai", sans-serif;
}




/* Envelope Style */
.envelope{
    font-size: 100px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

/* Hover Effect */
.envelope:hover{
    transform: scale(1.2) rotate(5deg);
    filter: drop-shadow(0 0 20px pink);
}

/* Card Style ขนาดการ์ด*/
.valentine-card{
    width: 420px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    background: white;
}

/* Image Section */
.image-container{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
/* Image */

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(255,255,255,0.7);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
/*
.left{
    left: -20px;
}

.right{
    right: -20px;
}
    */

.fix-size{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}




/* Fix container height */
.image-container{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

/* Sticker container */
#sticker-container{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
}

/* Sticker */
.sticker{
  position:absolute;
  bottom: 50px;
  font-size:30px;
  animation: floatMove linear infinite;
}

/* Animation */
@keyframes floatMove{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity:0;
  }

  20%{
    opacity:1;
  }

  100%{
    transform: translateY(-120vh) rotate(360deg);
    opacity:0;
  }
}