body{
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    font-family: Arial, sans-serif;
}

/* Envelope Style */
.envelope{
    font-size: 100px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

/* Hover Effect */
.envelope:hover{
    transform: scale(1.2) rotate(5deg);
    filter: drop-shadow(0 0 20px pink);
}

/* Card Style */
.valentine-card{
    max-width: 1000px;
    max-height: 1000px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Image Slider */
.image-container{
    position: relative;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(255,255,255,0.7);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left{
    left: -20px;
}

.right{
    right: -20px;
}

/* Fix Image Section Size */
.fix-size{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.5s;

}

/* Fix container height */
.image-container{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

/* Sticker container */
#sticker-container{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
}

/* Sticker */
.sticker{
  position:absolute;
  bottom: 50px;
  font-size:30px;
  animation: floatMove linear infinite;
}

/* Animation */
@keyframes floatMove{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity:0;
  }

  20%{
    opacity:1;
  }

  100%{
    transform: translateY(-120vh) rotate(360deg);
    opacity:0;
  }
}